@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto Medium;
    font-display: swap;
    src: url(Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Quicksand;
    font-display: swap;
    src: url(Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand Medium;
    font-display: swap;
    src: url(Quicksand/static/Quicksand-Medium.ttf);
}
